/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

label {
  font-size: 1.15em;
  margin-right: 0.5em;
  padding-bottom: 0;
}

.category-btn + label > span {
  width: 296px;
  position: absolute;
  top: 0px;
  left: 38px;
  padding-left: 15px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 0 4px 4px 0;
  padding-top: 11px;
  padding-bottom: 11px;
}

.recent-points {
  background-color: white;
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  background-color: white !important;
  background: none;
  padding-left: 1em;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#site-title {
  height: 50px;
}

#site-title-image {
  height: 50px;
}

#sign-in-btn {
  margin-top: 5px;
}

/* disable CartoDB link */
.cartodb-logo a {
  pointer-events: none;
  cursor: default;
}

/* hide attribution */
.leaflet-control-attribution {
  display: none;
}



/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (max-width: 60em) {
    html, body, #map {
        height: 100%;
    }

    #main {
        // calculated as 100% of viewport height minus the fixed pixel height of the header
        height: calc(100% - 64px);
    }

    #map-container {
        // calculated as 100% of #main height minus the fixed pixel height of the footer
        height: calc(100% - 72px);
    }

    .activity-enabled.content-visible #map-container {
        height: 70%;
    }

    #site-title-image {
      content: url("images/pblogo.png");
    }

    #main-btns-container {
      left: 0 !important;
      display: fixed !important;
    }

    .list-toggle-nav {
      display: none !important;
    }
}


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

/* smaller logo for smaller screens */
@media only screen and (max-width: 60em) {
  #site-title-image {
    content:url("images/pblogo_small.png");
  }
}

/* bottom-clinging sidebar override */
@media only screen and (max-width: 960px) {
    .sidebar.collapsed {
        width: 33px;
        box-sizing: border-box;
        position: absolute;
        height: 33px;
        top: 85px;
        bottom: auto;
    }

    .sidebar {
        top: 85px;
        left: 10px;
        width: 90%;
        overflow: hidden;
        border-radius: 4px;
        border: none;
        z-index: 2000;
        box-sizing: border-box;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    }

    .sidebar-left .sidebar-tabs {
        top: 0;
        position: absolute;
        height: 99px;
        z-index: 99;
        padding: 0 9px;
        box-sizing: border-box;
        box-shadow: none;
    }
    .sidebar-tabs, .sidebar-tabs > ul {
        width: 33px;
        display: block;
    }
    .sidebar-tabs > ul {
      margin-left: -9px;
    }
    .sidebar-tabs li {
        height: 33px;
        border-radius: 3px;
    }
    .sidebar-content {
        padding-left: 30px;
        padding-bottom: 33px;
        left: 0 !important;
    }
    .sidebar-header .sidebar-close i {
        padding: 5px 8px 6px 8px;
    }
    .sidebar-header .sidebar-close i::before {
        content: "\f053";
    }
    .sidebar-tabs .active {
        border-radius: 0px;
    }
    .sidebar-tabs ul li:nth-child(1) {
      display: none;
    }
    .sidebar-tabs ul li:nth-child(3) {
      display: none;
    }
    #right-sidebar {
      margin-top: 30px;
    }

    /* no need for any leaflet controls at small screen size */
    #sidebar {
      display: none;
    }

    /* map legend box */
    .master-layer-list {
      display: none;
    }

}

/* admin-only form fields */
.is-admin-field {
    background-color: rgba(250, 128, 114, 0.48);
    padding: 5px;
    border-radius: 4px;
}

/* map legend box */
.master-layer-list {
  padding: 10px;
  background-color: #EEE;
  margin-top: 0;
}

.master-layer-list .shareabouts-layer-li:first-child {
  font-size: 14px;
  letter-spacing: -.6px;
  line-height: 1.8;
}

.master-layer-list .shareabouts-layer-li {
  font-size: 15px;
  letter-spacing: 0;
  line-height: 1.9;
}

/* right sidebar overrides */
.right-sidebar-content-menu {
  display: none;
}

.right-sidebar-content-detail {
  width: 100% !important;
  background-color: #f1f3f5 !important;
}

.collapse-btn {
  background-color: #f1f3f5 !important;
  left: -28px !important;
}

#right-sidebar-container {
  background-color: #f1f3f5;
}

.story-selected .snip1579 figcaption {
  height: calc(80%);
}

.sidebar-story-item {
/*  width: 45% !important;
  float: left !important;*/
  border-top: none !important;
  border-bottom: none !important;
}

.sidebar-story-item {
  background-color: transparent !important;
}

.sidebar-story-detail-container {
  border-left: 5px solid transparent;
  width: 95%;
  float: right;
  background-color: #ced4da;
}

.sidebar-story-detail-container.is-even-row {
  background-color: #f1f3f5;
}

.story-selected .sidebar-story-detail-container {
  border-left: 5px solid #fa5252;
}

.right-sidebar-header {
  padding: 10px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.right-sidebar-header img {
  float: left;
  width: 30px;
}

.right-sidebar-header h4 {
  float: right;
  line-height: 0.9em !important;
  max-width: 85%;
  padding-left: 20px !important;
}

/* =Grid-based sidebar layout
Adapted from http://littlesnippets.net/snip1579/
-------------------------------------------------------------- */
.snip1579 {
  font-family: Roboto, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  width: 80%;
  float: right;
  margin-top: 5px;
  margin-left: 10%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1579 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1579 img {
  vertical-align: top;
  min-width: 100%;
}
.snip1579 figcaption {
  position: absolute;
  height: 40px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1579 h3 {
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1em;
  margin-top: 3px;
  margin-bottom: 5px;
}
.snip1579 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1579 blockquote {
  padding: 0;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-style: italic;
  font-size: 1em;
}
.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1579:hover figcaption,
.snip1579.hover figcaption {
  height: calc(80%);
}